.parent {
    display: flex;
  }
  
  .parent > div {
    flex-basis: 50%;
  }
  
  .volonteerSection {
    display: flex;
    justify-content: flex-end;
  }
  
  .volonteerButton {
    margin-left: auto;
    color: gray;
    width: 70%;
  }
  